.frame{
    width: 90%;
    height: 600px;
    background-color:white;
    margin-inline: auto;
    margin-top: 3rem;
  


}
.ladies{
    width: 700px;
    height: 500px;
    background-image: url("../assets/images/Beautiful 020.jpg");
    background-color: blue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1rem solid green;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 40%;
    margin:auto;
    
}
.last{
    max-width: 100%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: -13rem;

}
.right{
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 5%;
    padding: 1rem;
}
.right > .text{
    border-bottom: 1px solid black;
    line-height: 0.1cm;
}
 .right > .buttom{
    width: 350px;
    height: 30px;
    background-color: green;
    margin-top: 2rem;
    border-radius: 2%;
    
}
.left{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
}